.dashboard {
  display: flex;
  height: 100vh; 
  flex-direction: column; 
  background: linear-gradient(135deg, #1e293b, #111827);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 120vh;
}

.content {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #f7bf09;
}
