.dashboard {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e293b, #111827);
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #f7bf09;
}
